DISCORD_TOKEN="your-discord-client-token"

# Logging levels: 50 (CRITICAL), 40 (ERROR), 30 (WARNING), 20 (INFO), 10 (DEBUG)
CLIENT_LOGGING=10
MYSQL_LOGGING=10

MYSQL_HOST="localhost"
MYSQL_USER="user"
MYSQL_PASSWORD="password"
MYSQL_DATABASE="discord_utility_bot"
